<template>
    <nav class="navbar is-light">
        <div class="container">
            <div class="navbar-brand">
                <nuxt-link class="navbar-item" to="/">Nuxt Auth</nuxt-link>
                <button class="button navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable" v-if="isAuthenticated">
                        <a class="navbar-link">
                            {{ loggedInUser.username }}
                        </a>
                        <div class="navbar-dropdown">
                            <hr class="navbar-divider">
                            <a @click.prevent="logout" class="navbar-item">Logout</a>
                        </div>
                    </div>
                    <template v-else>
                        <nuxt-link class="navbar-item" to="/login">Log In</nuxt-link>
                    </template>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        computed: {
            ...mapGetters(['isAuthenticated', 'loggedInUser'])
        },
        methods: {
            logout(){
                this.$store.dispatch('logout');
                this.$router.push('/login');
            }
        }
    }
</script>