<template>
    <div class="container">
        <div v-if="post" class="jumbotron">
            <h1 class="display-4">{{ post.title }}</h1>
            <p class="lead">{{ post.content }}</p>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        middleware: 'guest',
        data() {
            return {
                id: this.$route.params.id,
            }
        },

        computed: {
            ...mapGetters(['posts/items']),

            post(){
                let id = this.id;
                return this.$store.getters['posts/items'].find(item => item.id === id);
            }
        }
    }
</script>

<style>

</style>
