<template>
    <section class="section">
        <div class="container">
            <div class="">
                <h2 class="title has-text-centered">Sign in</h2>

                <Notification :message="error" v-if="error"/>

                <form method="post" @submit.prevent="auth">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control">
                            <input
                                    type="text"
                                    class="input"
                                    name="username"
                                    v-model="username"
                            >
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input
                                    type="password"
                                    class="input"
                                    name="password"
                                    v-model="password"
                            >
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-dark is-fullwidth">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    import Notification from '~/components/Notification'

    export default {
        middleware: 'user',
        components: {
            Notification,
        },

        data() {
            return {
                username: '',
                password: '',
                error: null
            }
        },

        methods: {
            auth() {
                let self = this;
                try {
                    if(!this.username){
                        return this.error = "Username is empty. Please fill the field."
                    }
                    if(!this.password){
                        return this.error = "Password is empty. Please fill the field."
                    }
                    this.$store.dispatch('login', {
                        username: self.username,
                        password: self.password
                    });

                    this.$router.push('/');
                } catch (e) {
                    console.log(e);
                    this.error = e.response.data.message
                }
            }
        }
    }
</script>